<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Books</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">My Books Collection</a>
            </div>
            <ul class="nav navbar-nav">
                        <li><a href="#">My Library</a></li>
                        <li><a href="#">Book</a></li>
            </ul>
            <form class="form-inline">
                  <input class="form-control" placeholder="Search" aria-label="Search" type="text">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron">
            <h1>My Books</h1>
            <p>Lorem ipsum dolor sit amet consectetur...</p>
            <button class="btn btn-info">Check This Book Out</button>
    </div>
 <div>
<form action="/add_book" method="POST" class="form-group">
    <h2> Adding another Book...</h2>
        Title: <input type="text" name="title" class=form-control"><br>
        Author:<input type="text" name="author" class="form-control"><br>
        Publisher: <input type="text" name="publisher" class="form-control"><br>
        Year Published: <input type="date" name="year" class="form-control"><br>
        <br>
        <input type="submit" value="Add Book" class="col-md-3">
</form>

</body>
</html>